<a href="https://colab.research.google.com/github/aryanpattni913-pixel/Classification_with_logistic_regression_and_random_forests-/blob/main/Python_Basics_Class_1_IDEAS_TIH_Autumn_Internship_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World!")

Hello World!

In [ ]:
# What if I don't want a line to be executed?? .. This is a single line comment!!
a, b = 20, 30
print(a,b)


"""
This is an example of a multi-line comment
print(a,b)
"""

20 30

'\nThis is an example of a multi-line comment \nprint(a,b)\n'

In [ ]:
# VARIABLE : a named memory location

#integer variables
a = 123345
print(a, type(a)) # type() function returns the datatype of the variable used

#float variables
pi = 3.14
print(pi,type(pi))

#strings
name = "Harry Potter"
print(name, type(name))

#Boolean Variable
is_this_class_interesting = True
print(is_this_class_interesting, type(is_this_class_interesting))

123345 <class 'int'>
3.14 <class 'float'>
Harry Potter <class 'str'>
True <class 'bool'>

In [ ]:
#Type COnversion : Conversion of one datatype to another

#implicit type conversion
a = a - pi
print(a, type(a))

#explicit type conversion : (also known as coercion)
pi = int(pi)
print(pi, type(pi))

truth = int(is_this_class_interesting)
print(truth, is_this_class_interesting)

123341.86 <class 'float'>
3 <class 'int'>
1 True

In [ ]:
# addition, subtraction, multiplication, division:

numerator = 10
denominator = 0
add = numerator + denominator
sub = numerator - denominator
mul = numerator * denominator
# div = numerator / denominator

print(f"numerator + denominator = {add, type(add)}")
print(f"numerator - denominator = {sub, type(sub)}")
print(f"numerator x denominator = {mul, type(mul)}")
# print(f"numerator / denominator = {div, type(div)}")

# try-except

try:
  print(f"numerator / denominator = {numerator / denominator}")
except ZeroDivisionError:
  print("Trying to reach the infinity stones? Contact Thanos!")

numerator + denominator = (10, <class 'int'>)
numerator - denominator = (10, <class 'int'>)
numerator x denominator = (0, <class 'int'>)
Trying to reach the infinity stones? Contact Thanos!

In [ ]:
# STRING BASED OPERATIONS:

last_name = "Dommaraju"
first_name = "Gukesh"

#contactenation : the additon of two or more strings into a single string
name = first_name + " " + last_name
print(f"conacatenated string = {name}")

#length of a string
print(f"length of the string = {len(name)}")


'''
                                           -3  -2   -1
  G  u  k  e  s  h     D  o  m  m   a   r   a   j   u
  0  1  2  3  4  5  6  7  8  9  10  11  12  13  14  15

name[2] will print the character at index 2 which is 'k'

'''

print(name[2])

#sub-strings : a sub sequence of a string :
'''

Syntax = string_name[lowerbound : upperbound]
output : characters from lowerbound to upperbound-1

'''
print("substring example 1 ", name[2:4])
print("substring example 2 ", name[:4])
print("substring example 3 ", name[2:])
print("substring example 4 ", name[-4]) # character at index of length(string) - 4
print("substring example 5 ", name[::-1])

upper_case = name.upper()
print(upper_case)

lower_case = name.lower()
print(lower_case)

title_case = lower_case.title()
print(title_case)

conacatenated string = Gukesh Dommaraju
length of the string = 16
k
substring example 1  ke
substring example 2  Guke
substring example 3  kesh Dommaraju
substring example 4  r
substring example 5  ujarammoD hsekuG
GUKESH DOMMARAJU
gukesh dommaraju
Gukesh Dommaraju

In [ ]:
# Conditional statements : IF- ELSE

'''
Syntax:

if condtion1 :
  statement
elif condition2 :
  statement
else :
  statement

'''
# LOGICAL OPERATIONS
'''
(p and q) : the result shall be true only if both the conditions p and q are true

(p or q) : the result shall be true only if either the conditions p and q, or both the conditions are true


p  q   (p and q)  (p or q)
T  T     T         T
T  F     F         T
F  T     F         T
F  F     F         F

'''


physics = 80
maths = 80

if (physics >= 85 and maths >= 85):
  print("Pen + Diary")
elif (physics >= 85 and maths <= 85):
  print("Diary")
elif (physics <= 85 or maths >= 85):
  print("Pen")
else:
  print("GET OF THE HOUSE!")

Pen

In [ ]:
# Some more datatypes : LIST

# myList = ["HArry", 91, pi]
# print(f"myList = {myList, type(myList)}")

'''
Indexing in Lists is of the same type as in Strings
'''

myList = ["Harry", "Hermione", "Ron", "Draco", "Snape"]

#list slicing
print(myList[1:3])
print(myList[1:])
print(myList[:3])
print(myList[::-1])

for i in myList:
  if (i == 'Draco'):
    print("my Father will hear about this!")
  elif (i == 'Snape'):
    print("50 points from Gryffindor!")
  else:
    print("Gryffindor Rules!")




#More operations on string:

#stripping whitespaces
text_with_whitespaces = "        Prof. Albus Dumbledore "
print(len(text_with_whitespaces))
print(len(text_with_whitespaces.strip())) # strip() removes whitespaces from both ends of a string

text_with_chars = "##Prof. Albus#Dumbledore "
print(text_with_chars.strip('#')) # strip


#Replacing substrings:
original_text = "Potter you might be in some sirius trouble !"
print("Original text", original_text)
new_text = original_text.replace("sirius", "serious")
print("New text", new_text)

#Find substring
position = original_text.find("sirius")
print(position)

#count substrings
count = original_text.count("Potter")
print(f"no. of occurrences of {"Potter"} in {original_text} is {count}")

['Hermione', 'Ron']
['Hermione', 'Ron', 'Draco', 'Snape']
['Harry', 'Hermione', 'Ron']
['Snape', 'Draco', 'Ron', 'Hermione', 'Harry']
Gryffindor Rules!
Gryffindor Rules!
Gryffindor Rules!
my Father will hear about this!
50 points from Gryffindor!
31
22
Prof. Albus#Dumbledore
Original text Potter you might be in some sirius trouble !
New text Potter you might be in some serious trouble !
28
no. of occurrences of Potter in Potter you might be in some sirius trouble ! is 1

In [ ]:
# Loops

for i in range(0,5,2):
  print(i)


#dry run of for loop:
'''

1st iteration:
i=0
print(0)
by default the value of i is incremented by 1, i.e. i = i+1 = 0+1 = 1. Thus the updated value of i after the first iteration is 1.

2nd iteration:
i=1
print(1)
i = i+1 = 1+1 = 2. Thus the updated value of i after the second iteration is 2.

3rd iteration:
i=2
print(2)
i = i+1 = 2+1 = 3. Thus the updated value of i after the third iteration is 3.

4th iteration:
i=3
print(3)
i = i+1 = 3+1 = 4. Thus the updated value of i after the fourth iteration is 4.

5th iteration:
i=4
print(4)
i = i+1 = 4+1 = 5. Thus the updated value of i after the fifth iteration is 5.

6th iteration
i = 5 . Fails the loop condition , so the loop gets terminated.

range(start, stop, step)

'''

print(f"what is the output of range(i) = {range(7)}")
print(range(7))

0
2
4
what is the output of range(i) = range(0, 7)
range(0, 7)

In [ ]:
'''
Program 1: Write a python program to calculate the area of a rectangle

Program 2: Write a python program to check if a number is odd or even

Program 3: Write a python program to find the largest among three numbers

Program 4: Write a python program to check if a number is a prime number

Program 5: Write a python program to print the factorial of a number

'''

'\nProgram 1: Write a python program to calculate the area of a rectangle\n\nProgram 2: Write a python program to check if a number is odd or even\n\nProgram 3: Write a python program to find the largest among three numbers\n\nProgram 4: Write a python program to check if a number is a prime number\n\nProgram 5: Write a python program to print the factorial of a number\n\n'